@*


*@
@{

    Layout = null;
}

@model BuildingInstruction


<script>

    document.oncontextmenu = function () { return false; };
</script>

<script src=”https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js”></script>



<partial name="_Navbar" />

<body oncontextmenu="return false">

    <script>
        $(document).ready(function () {

            $(this).bind("contextmenu", function (e) {

                e.preventDefault();

            });


        });

    </script>


    <object oncontextmenu="return false" width="100%" height="100%" type="application/pdf"
            data="@Url.Content(Model.PdfInstructionUrl)#toolbar=0" id="pdf_content">
        <p>
            Document load was not
            successful.
        </p>
    </object>

</body>


@* <iframe src="@Url.Content(Model.PdfInstructionUrl)#toolbar=0&navpanes=0" style="width: 100%;height: 100%; border: none" onload="injectJS()"></iframe>*@






