@model IEnumerable<Category>


<div class="sidebar">
    <div class="menu list-group list-group-flush">


        <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">
            <span class="fas fa-home " aria-hidden="true"></span> Home
        </a>


        @foreach (var category in Model)
        {
            <a class="list-group-item list-group-item-action" asp-controller="BuildingInstruction" asp-action="List" asp-route-category="@category.CategoryName">
                <i class="fas fa-th-list" aria-hidden="true"></i> @category.CategoryName
                <span class="badge badge-primary badge-pill text-right">@category.BuilidingInstructions.Where(b => b.Category.CategoryName == category.CategoryName).ToList().Count</span>
            </a>

        }

        <a class="list-group-item list-group-item-action" asp-controller="BuildingInstruction" asp-action="List" asp-route-category="">
            <i class="fas fa-th-list" aria-hidden="true"></i> View all instructions
            <span class="badge badge-primary badge-pill text-right">@Model.Sum(c => c.BuilidingInstructions.Count)</span>
        </a>

    


    </div>
</div>