

@model BuildingInstructionListViewModel;

<style>
</style>


<div class="container mt-3">

    <h2 class="text-center ">@Model.CurrentCategory</h2>

    <a type="button" class="btn btn-outline-info mt-5" asp-controller="BuildingInstruction" asp-action="AddNewInstruction"> <i class="fas fa-plus-square fa-fw" aria-hidden="true"></i>Add building instruction</a>
   <hr />

    <div class="row mt-5">


        @if (Model.BuildingInstructions.Count() == 0)
        {
            <h2>No Building Instructions.</h2>
        }
        else
        {


            @foreach (var buildingInstruction in Model.BuildingInstructions)
            {

                <partial name="_BuildingInstructionCard" model="buildingInstruction" />

            }
        }

    </div>

</div>