


@model Comment




<form method="post" asp-controller="Comment" asp-action="AddComment">

    <h3>
        <span style="font-weight: bold">New Comment</span>
    </h3>


    <fieldset>
        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                <textarea asp-for="Message" class="form-control" id="message" placeholder="Your message" required=""></textarea>
            </div>

            <div class="form-group">
                <input type="hidden" asp-for="@Model.BuildingInstructionId" value="@Model.BuildingInstructionId" />
            </div>

        </div>
    </fieldset>
    <button type="submit" class="btn btn-secondary pull-right">Submit</button>
</form>



