<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lego Building Instructions</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/shop-homepage.css" rel="stylesheet">

    <link href="~/vendor/fontawesome/css/all.css" rel="stylesheet">

</head>

<body>

    <partial name="_Navbar" />

    <!-- Page Content -->
    <div class="container-fluid p-0">

        <div class="row">

            <div class="col-lg-2">


                @await Component.InvokeAsync("CategoryMenu")

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-10">

                @RenderBody()
            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-3 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">&copy; @DateTime.Now.Year - Lego Building Instructions</p>
        </div>
        <!-- /.container -->
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script defer src="~/vendor/fontawesome/js/all.js"></script> <!--load all styles -->

</body>

</html>
