


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-user-cog fa-fw"></i>
            @UserManager.GetUserName(User)
        </a>
    </li>

    <li class="nav-item">
        <form method="post" asp-action="Logout" asp-controller="Account">
            <button type="submit" class="nav-link btn btn-link" style="width:auto">
                <i class="fas fa-sign-out-alt fa-fw"></i>Logout
            </button>

        </form>

    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">
            <i class="fas fa-sign-in-alt fa-fw"></i>
            Login
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">
            <i class="far fa-user fa-fw"></i>
            Register
        </a>
    </li>
}
